* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Segoe UI Light", Arial, sans-serif;
}
@media only screen and (min-width: 500px) {
  body {
    background-image: url(e2e.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
  }
}
dialog {
  outline: none;
}
.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px 20px 0 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.container > .container-inner {
  display: flex;
  flex-direction: column;
}
.logo {
  text-align: center;
  margin-bottom: 20px;
}
.logo img {
  width: 150px;
}
textarea {
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: vertical;
  outline: none;
}
textarea:focus {
  border-color: #ff7800;
}
.file-picker {
  margin-bottom: 20px;
}
.file-picker .filesize {
  font-size: 10pt;
}
.file-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form {
  margin-top: 20px;
  text-align: left;
  accent-color: #ff7800;
}
.form input[type="range"] {
  margin: 2px 0 0 0;
  padding: 0;
  vertical-align: bottom;
}
.form #openingsVal,
.form #rangeVal {
  margin-left: 5px;
}
.file-box {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}
.file-box .close {
  padding: 2px 4px;
  margin: 0 3px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.file-box .close:hover {
  background-color: darkgrey;
}
dialog.share {
  border: 0;
  border-radius: 20px;
  width: 500px;
  max-width: 90%;
  padding: 10px 20px;
  text-align: center;
}
dialog.share .code,
dialog.share .url {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
dialog.share .code .label,
dialog.share .url .label {
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  border-radius: 3px 0 0 3px;
  width: 50px;
  line-height: 25px;
  user-select: none;
}
dialog.share .code input,
dialog.share .url input {
  font-family: monospace;
  text-align: center;
  border: 1px solid #e1e1e1;
  height: 30px;
  outline: none;
  flex: 1;
  padding: 0 6px;
}
dialog.share .code button,
dialog.share .url button {
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #e1e1e1;
  background-color: #e1e1e1;
  border-radius: 0;
  cursor: pointer;
  transition: background-color, border-color 1s;
}
dialog.share .code button:active,
dialog.share .url button:active {
  background-color: #9f9f9f;
  border-color: #9f9f9f;
  transition: background-color, border-color 10ms;
}
dialog.share .code button:last-child,
dialog.share .url button:last-child {
  border-radius: 0 3px 3px 0;
}
dialog.share .code button.copy,
dialog.share .url button.copy {
  background-image: url(./copy.svg);
}
dialog.share .code button.mail,
dialog.share .url button.mail {
  background-image: url(./mail.svg);
}
dialog.share button.close {
  margin-top: 10px;
  margin-bottom: 20px;
}
dialog.usercode {
  border: 0;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  padding: 10px 20px 40px 20px;
  text-align: center;
}
dialog.usercode input {
  margin: 10px auto;
  border: 0;
  border-bottom: 1px solid grey;
  font-family: monospace;
  font-size: 1.5em;
}
dialog.usercode input:focus {
  outline: none;
}
dialog.usercode input:invalid {
  background-color: #ffeeee;
  border-bottom-color: red;
  color: red;
}
dialog.usercode button {
  border-radius: 2px;
  border: 0;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #ececec;
  cursor: pointer;
}
dialog.usercode button:hover {
  background-color: #cccccc;
}
div.download-file-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
div.download-file-container .link-container {
  flex: 0;
  margin-top: 5px;
  max-width: 90%;
}
div.download-file-container .link-container a {
  max-width: 100%;
  background-color: #ffb357;
  text-decoration: none;
  border-radius: 2px;
  color: black;
  outline: none;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px 30px 8px 8px;
  white-space: nowrap;
  overflow: hidden;
}
div.download-file-container .link-container a:hover {
  background-color: #ff7800;
}
div.download-file-container .link-container a .text {
  display: inline-block;
  white-space: nowrap;
  text-wrap: nowrap;
}
div.download-file-container .link-container a .icon {
  flex-shrink: 0;
  max-height: 30px;
}
div.infotext {
  border-top: 1px solid #f3f3f3;
  margin: 40px 0 0 0;
  padding-top: 15px;
}
dialog.user-msg {
  border: 0;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
  padding: 10px 20px 40px 20px;
  text-align: center;
}
dialog.user-msg button {
  border-radius: 2px;
  border: 0;
  margin-top: 10px;
  padding: 10px 30px;
  background-color: #ececec;
  cursor: pointer;
}
dialog.user-msg button:hover {
  background-color: #cccccc;
}
button.copytoclipboard,
button#upload,
.share button.close {
  border-radius: 2px;
  border: 0;
  margin: 0;
  padding: 10px 30px;
  background-color: #ececec;
  cursor: pointer;
}
button.copytoclipboard:hover,
button#upload:hover,
.share button.close:hover {
  background-color: #cccccc;
}
button.copytoclipboard:active,
button#upload:active,
.share button.close:active {
  background-color: #ff7800;
}
button#upload {
  margin-top: 20px;
}
.footer {
  margin-top: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: 1px solid #ececec;
  text-align: center;
  color: #cdcdcd;
  font-size: 0.7em;
}
.footer a {
  text-decoration: none;
  color: #cdcdcd;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a:active {
  color: #ff7800;
}
/*# sourceMappingURL=saveshare.css.map */